In [1]:
import pandas as pd
from dfply import *

from price_detection_tools import screener, add_label

In [2]:
df = pd.read_csv("/Users/d.e.magno/Datasets/stocks/AAPL.csv")

In [3]:
df2 = df >> screener >> add_label(df)

In [4]:
df2

,increment,ema,window,date,f1,f2,f3,f4,f5,fw_ret_1,fw_ret_2,fw_ret_3,label,idx1,idx2,idx3,idx4,idx5
0,1,3,3,"(3457, 3476)",0.265340,0.274816,0.265340,0.273869,0.266287,0.0249126,0.0355879,0.0106753,3,3457.0,3457.0,3466.0,3471.0,3476.0
1,1,3,3,"(8700, 8709)",29.096258,29.316339,29.022902,29.369070,29.057289,-0.0175148,-0.0104141,-0.00118344,1,8700.0,8703.0,8704.0,8707.0,8709.0
2,1,3,20,"(8660, 8710)",28.479830,30.283358,28.539185,30.384638,28.548355,0.00722736,0.0166225,0.0153377,1,8660.0,8666.0,8673.0,8685.0,8710.0